@page "/"
@using BlazorUSBNVShutterTest.Services
@implements IDisposable

<PageTitle>Home</PageTitle>

<p>
    This Blazor WASM app demonstrates WebUSB in Blazor using the Nvidia 3D Vision shutter glasses.
</p>
<p>
    <h3>References</h3>
    <ul>
        <li><a href="https://en.wikipedia.org/wiki/Nvidia_3D_Vision">Nvidia 3D Vision on Wikipedia</a></li>
        <li><a href="https://github.com/bobsomers/3dvgl/blob/master/lib/nvstusb.c">GitHub/bobsomers/3dvgl</a></li>
        <li><a href="https://github.com/FlintEastwood/3DVisionActivator/blob/main/src/system/nvidiaShutterGlasses.cpp">GitHub/FlintEastwood/3DVisionActivator</a></li>
    </ul>
</p>

<p role="status">Device: @DeviceName (VID: @($"{NvidiaShutterGlasses.VendorId:X4}") PID: @($"{NvidiaShutterGlasses.ProductId:X4}") Rev: @NvidiaShutterGlasses.DeviceVersion Endpoints: @NvidiaShutterGlasses.EndpointCount)</p>

<button class="btn btn-primary" @onclick="LogClear">Clear Log</button>
<button disabled="@(!NvidiaShutterGlasses.Supported || NvidiaShutterGlasses.Connected)" class="btn btn-primary" @onclick="Connect">Connect</button>
<button disabled="@(!NvidiaShutterGlasses.Connected || NvidiaShutterGlasses.EndpointCount > 0)" class="btn btn-primary" @onclick="Connect">Force Scan</button>
<button disabled="@(!NvidiaShutterGlasses.Connected)" class="btn btn-primary" @onclick="Disconnect">Disconnect</button>
<button disabled="@(!NvidiaShutterGlasses.Opened)" class="btn btn-primary" @onclick="FirmwareCheck">Firmware Check</button>
<button disabled="@(!NvidiaShutterGlasses.Opened)" class="btn btn-primary" @onclick="ToggleEyes">Toggle Eyes</button>
<button disabled="@(!NvidiaShutterGlasses.Opened)" class="btn btn-primary" @onclick="SendInit">Send Init</button>

<p>
    <h3>Firmware loading with WebUSB and Blazor</h3>
    When plugged into USB and no drivers are installed, the button on the front of the Nvidia 3D Vision USB transmitter blinks red, indicating the device needs firmware before it can be used.
    The firmware file nvstusb.fw, will be loaded onto the device using WebUSB which causes the button to become solid green, indicating it is ready for operation.
</p>

<p>
    <pre>
        @LogStr
    </pre>
</p>

@code {
    [Inject]
    NvidiaShutterGlasses NvidiaShutterGlasses { get; set; } = default!;

    private string DeviceName => NvidiaShutterGlasses.Device == null ? "[NOT CONNECTED]" : NvidiaShutterGlasses.Device.ProductName;

    string LogStr = "";

    void LogClear()
    {
        LogStr = "";
        StateHasChanged();
    }
    void Log(string msg)
    {
        LogStr += $"{msg}\n";
        StateHasChanged();
    }
    void Device_OnConnected()
    {
        Log($"Device connected: {NvidiaShutterGlasses.Device?.ProductName}");
    }
    void Device_OnDisconnected()
    {
        Log($"Device disconnected");
    }
    void Device_OnLog(string msg)
    {
        Log(msg);
    }
    protected override void OnInitialized()
    {
        if (!NvidiaShutterGlasses.Supported)
        {
            Log("WebUSB not supported");
        }
        NvidiaShutterGlasses.OnConnected += Device_OnConnected;
        NvidiaShutterGlasses.OnDisconnected += Device_OnDisconnected;
        NvidiaShutterGlasses.OnLog += Device_OnLog;
    }
    public void Dispose()
    {
        NvidiaShutterGlasses.OnConnected -= Device_OnConnected;
        NvidiaShutterGlasses.OnDisconnected -= Device_OnDisconnected;
        NvidiaShutterGlasses.OnLog -= Device_OnLog;
    }
    async Task SendInit()
    {
        try
        {
            await NvidiaShutterGlasses.SendInit();
            Log("Initialized.");
        }
        catch (Exception ex)
        {
            Log($"SendInit error: {ex.Message}");
        }
    }
    async Task ToggleEyes()
    {
        try
        {
            await NvidiaShutterGlasses.ToggleEyes();
            Log($"Switched Mode: {NvidiaShutterGlasses.CurrentMode}");
        }
        catch (Exception ex)
        {
            Log($"ToggleEyes error: {ex.Message}");
        }
    }
    private async Task FirmwareCheck()
    {
        try
        {
            var needsUpdate = await NvidiaShutterGlasses.FirmwareCheck();
            Log($"FirmwareCheck: {needsUpdate}");
            if (needsUpdate)
            {
                var updated = await NvidiaShutterGlasses.FirmwareUpdate();
                Log($"FirmwareUpdate: {updated}");
            }
        }
        catch (Exception ex)
        {
            Log($"FirmwareUpdate error: {ex.Message}");
        }
    }
    private async Task Connect()
    {
        try
        {
            await NvidiaShutterGlasses.Connect();
        }
        catch (Exception ex)
        {
            Log($"Connect error: {ex.Message}");
        }
    }
    private async Task Disconnect()
    {
        if (!NvidiaShutterGlasses.Connected) return;
        await NvidiaShutterGlasses.Disconnect();
    }
}